@import "variables";

// Import dependencies
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "node_modules/slick-carousel/slick/slick-theme.scss";

@import "node_modules/slick-carousel/slick/slick.scss";

// @import "node_modules/ress/dist/ress.min.css";

@import "mixins";
@import "global";

@charset "UTF-8";

/* 共通部分
-------------------------------------*/
html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}
body {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  background-color: #fff;
  color: #222222;
  -webkit-text-size-adjust: none;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
}
.-serif {
  font-family: "Times New Roman", 游明朝体, "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
@media (max-width: 768.98px) {
  body, html {
    width: 100%;
    min-width: auto;
    max-width: 100%;
  }
  .-serif {
    width: 100%;
    padding: 0 30px;
  }
}
/////////固定ナビ///////////////////////////////
/*========= 上部固定させるためのCSS ===============*/

#header{
  position: fixed;/*fixedを設定して固定*/
  height: 120px;/*高さ指定*/
  width:100%;/*横幅指定*/
    z-index: 999;/*最前面へ*/
  /*以下はレイアウトのためのCSS*/
  justify-content: space-between;
  align-items: center;
  background: #222222;
  text-align: center;
  padding: 15px;  
}
#header h1 {
  color: #fff;
}
/*fixedでブロックがなくなるのではじめの要素のトップに余白を持たせる*/
section#area-1{
  padding-top:90px;
}

/*==ふわっと出現させるためのCSS*/

/*　上に上がる動き　*/

#header.UpMove{
  position: fixed;
  width:100%;
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
  opacity: 1;
  transform: translateY(0);
  }
  to {
  opacity: 0;
  transform: translateY(-100px);
  }
}

/*　下に下がる動き　*/

#header.DownMove{
  position: fixed;
  width:100%;
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  opacity: 0;
  transform: translateY(-100px);
  }
  to {
  opacity: 1;
  transform: translateY(0);
  }
}
/*========= レイアウトのためのCSS ===============*/
.homewrapper {
  text-align: center;
}
h1{
  font-size:1.8rem;
  margin-bottom: 0;
  color: #1b1b1b;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

.homewrapper p {
  margin-top:20px;
  font-size: 1.2rem;  
  line-height: 2.2;
  color: #483c3e;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding:20px;
  transition:all 0.3s;
  font-size: 1.2rem;
}
#header h1 a:hover,
nav ul li.current a,
nav ul li a:hover,
nav ul li a:active {
  color: #d3c496; 
} 

section{
  width: 100%;
  padding:30px 0;
  margin-bottom: 0px;
  text-align: center;
}

@media (max-width: 768.98px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }  
  nav ul li a{ 
    width: 33%; 
    font-size:0.9rem;
  }
   h1 {
    font-size: 1.5rem;
   }
   .homewrapper p {
    font-size: 1rem;
    padding: 10px 20px;
   }
 }



//*------------------カルーセル-----------------------*//
.carousel-item img {
  height: 600px;
  object-fit: cover;
  margin-top: 30px;
}
@media (max-width: 768.98px) {
  .carousel-item img {
    width: auto;
    object-fit: cover;
  }
}
/////お知らせバナー////////////////////////////////
.p-top-banner2010 {
  position: relative;
  width: 860px;
  margin: 0 auto;
  z-index: 3;
  padding: 20px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.p-top-banner2010 a {
  width: 400px;
  display: block;
  margin: 0 5px;
  padding: 4px;
  text-align: center;
  border-radius: 60px;
  border: 1px solid #333;
  position: relative;
  text-align: center;
  background: #fff;
  letter-spacing: 0.1em;
  color: #483c3e;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
}

.p-top-banner2010 a:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 3px;
	transform: scale(0, 1);
	transition: 0.4s;
}
.p-top-banner2010 a:hover:before {
	transform: scale(1);
}
.p-top-banner2010 a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 12px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 8px;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
@media (max-width: 768.98px) {
.p-top-banner2010 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;    
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 768.98px) {
.p-top-banner2010 a {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.4em;
    padding: 6px;
    margin-top: 10px;
  }
}

////////////////流れるスライド///////////////////////
* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* スライドする要素 */
.contentslide {
  width: 250px;
  height: 200px;
}

.contentslide:nth-child(1) {
  background-image: url("../img/onsen-take.jpg")
}

.contentslide:nth-child(2) {
  background-image: url("../img/slider2.jpg")
}

.contentslide:nth-child(3) {
  background-image: url("../img/slider4.jpg")
}

.contentslide:nth-child(4) {
  background-image: url("../img/manjyu.jpg")
}

/* スライドレールの枠 */
.wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 0;
}

/* content4つをまとめたスライドブロック */
.slideshow {
  display: flex;
  -webkit-animation: loop-slide 20s infinite linear 1s both;
  animation: loop-slide 20s infinite linear 1s both;
}

@-webkit-keyframes loop-slide { 
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/////////////GO TO　コロナについて//////////////////////////
#mainbox {
  margin: 0 auto;
  width: 1000px;
  margin-bottom: 60px;
}
.korona {
  text-align: center;
  border: 1px solid #CCCCCC;
  padding: 20px;
  margin: 0 auto 20px;
  line-height: 0.3;
}
#mainbox p {
  font-size: 16px;
  line-height: 1.5;
}
#mainbox .korona .tit {
  font-weight: bold;
  font-size: 18px;
}
#mainbox span {
  font-weight: bold;
}
.korona a {
  color: #333;
  text-decoration: none;
}

@media (max-width: 768.98px) {
  #main .mainBox {
    width: auto;
    margin: 0 10px;
  }
  #mainbox {
    width: auto;
  }
  .korona {
    width: 95%;
    padding: 10px;
    margin: 10px, 20px;
  }
}



/////////////エリア４/////////////////////////////////////
.contentwrapper {
  padding: 60px 0;
  margin-top: -60px;
}
.content_inner {
  max-width: 1120px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.cols {
  position: relative;
  display: flex;
  margin-right: -30px;
  margin-left: -30px;
  margin-bottom: -54px;
}
.cols>*.-head3, .cols[class*="-has"]>*.-head3 {
  -ms-flex-preferred-size: calc( 100% / 3 - 60px);
  flex-basis: calc( 100% / 3 - 60px);
}
.cols>*.cols_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.cols>*.-middle {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.cols>* {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 0 30px 54px;
  overflow: hidden;
}
.-center {
  text-align: center;
}
.content_title.-border_b+* {
  margin-top: 40px;
}
.content_title.-border_b+* {
  margin-top: 40px;
}

.cols.-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.contentwrapper h2 {
  font-size: 2.2rem;
  margin-top: 40px;
  display: block;
}

*, ::after, ::before {
  /* margin: 0; */
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
}

a[href] {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
a {
  position: relative;
  color: currentColor;
  text-decoration: none;
}
a :hover {
  color: #333;
  opacity: 0.75;
}
.icon.-circle {
  position: relative;
  top: -.1em;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-color: currentColor;
  border-radius: 20px;
  vertical-align: middle;
}
.icon.-arrow_r {
  background-image: url(../img/yajirushi.svg);
}
.icon :hover {
  opacity: 0.75;
  color: #333;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon+*, *+.icon {
  margin-left: 5px;
}
.content_fade {
  width :  100%;
  margin :  100px auto;
}
.slick-slide {
  margin :  0px 20px;
  height : auto;
}
.slick-slide img {
  width :  100%;
  height: 38vw;
  max-height: 450px;
  min-height: 300px;
  object-fit: cover;
}
@media (max-width: 768.98px) {
  .content {
    padding: 60px 20px;
  }
  .content_fade {
    margin: 0%;
  }
  .content_inner {
    max-width: 100%;
  }
  .cols {
    display: block;
    margin-right: -10px;
    margin-left: -10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -40px;
  }
  .cols>*.-head3, .cols[class*="-has"]>*.-head3 {
    -ms-flex-preferred-size: calc( 100% - 20px);
    flex-basis: calc( 100% - 20px);
  }
  .cols>* {
    margin: 0 10px 40px;
  }
  .content_img {
    width: auto;
    height: auto;
    object-fit: cover;  
  }
  .contentwrapper h2 {
    font-size: 1.5rem;
  }
}





//*-----------------nav &フッター--------------------------*//
#footer {
  background-color: #222222; 
  color: #fff;
}
#footer .con_logo {
  text-align: center;
  color: #222222;
  padding: 60px 0;
  background-color: #d3c496;
}
#footer .con_logo .logo {
  margin: 0 auto;
}
#footer .con_logo a {
  font-size: 1.5rem;
}

#footer .con_logo address {
  font-size: 1.2rem;
  letter-spacing: .1em;
  margin-top: 1em;
}
#footer .con_logo .wrp_tel {
  text-align: center;
}
#footer .con_logo .wrp_tel p {
  display: inline-block;
  font-family: "Times New Roman", Georgia, serif;
  letter-spacing: .1em;
}
.wrp_tel a {
  color: #222222;
  text-decoration: none;
  font-size: 1.2rem;
}

#footer .con_nav {
  color: #fff;
  padding: 50px 0;
}
#footer .con_nav  {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
#footer .con_nav .box_nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  letter-spacing: .08em;
}

#footer .con_logo .wrp_sns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
#footer .con_logo .wrp_sns .st {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 122%;
  font-style: italic;
  letter-spacing: .1em;
  padding-right: 10px;
}
#footer #copyright {
  text-align: center;
  font-size: 1rem;
  font-family: "Times New Roman", Georgia, serif;
  color: #bebebe;
  letter-spacing: .05em;
  padding: 0 0 1em;
}
.wrp_sns ul {
  display: flex;
  padding-left: 0; 
}
.wrp_sns ul li {
  padding: 0 10px;
}
.box_nav {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768.98px) {
  #footer .con_logo {
    padding: 1.5em 0;
  }
  #footer .con_logo .logo {
    width: 30%;
  }
  #footer .con_logo a {
    font-size: 1.2rem;
  }
  #footer .con_logo address {
    margin-top: .5em;
    font-size: 1rem;
  }
  #footer .con_logo .wrp_tel p {
    display: inline-block;
    font-family: "Times New Roman", Georgia, serif;
    letter-spacing: .1em;
    margin-top: 0;
    line-height: 1.5;
  }
  #footer .con_logo .wrp_sns {
    margin-top: .5em;
  }


  #footer .con_nav {
    padding: 1em 0;
  }
  #footer .con_nav .box_nav ul {
    overflow: hidden;
  }
  #footer .con_nav .box_nav ul .l {
      width: 100%;
  }
  #footer .con_nav .box_nav ul li {
    width: 50%;
    float: left;
    margin-bottom: .5em;
    position: relative;
    padding-left: 1em;
}
  #footer .con_nav .box_nav ul li
   a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    letter-spacing: .08em;
  }
  .box_nav {
    display: block;
  }
}

//*---------------------onsen.html---------------------------*//

.main-img {
  position: relative;
  width: 1200px;
}
.absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  -ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
#area-1 img {
  width: 100vw;
  height: 450px;
  object-fit: cover;
}

.text-conteiner {
  width: 100%;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 60px;
  text-align: center;
}
.text-conteiner h2 {
  line-height: 1.6;
  font-size: 1.6rem;
}
.c-article p {
  font-size: 1.1rem;
  line-height: 1.6;
}
.img_caption {
  text-align: center;
  padding-top: 20px;
  font-size: 1.2rem;
  margin: 0 20px;
}
//////////サウナ//////////////////////////////////////////////////
#area-4 img {
  max-width: 100%;
}
.center-s {
  margin: 0 auto;
  max-width: 90%;
  
}
.box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box h2 {
  font-size: 1.5rem;
}
.center-s ul {
  display: -webkit-flex;
  width: 50%;
  margin: 0;
  margin-left: 630px;
  padding: 40px;
  list-style-type: none;
}
.center-s li {
  width: 20px;
  flex: 1 1 auto;
  margin-right: 8px;
}
.center-s li:last-of-type {
  margin-right: 0;
}

@media (max-width: 768.98px) {
  .main-img {
    width: auto;
  }
  .text-conteiner {
    width: 100%;
    min-width: 0;
    padding: 0 15px;
  }
  .text-conteiner h2 {
    font-size: 1.3rem;
  }
  .c-article {
    width: auto;
  }
  .c-article p {
    letter-spacing: 0.2em;
    line-height: 2.2em;
    font-size: 1rem;
    margin: 0 20px;
  }
  .box {
    display: block;
  }
}
//////////////////////// 内湯 ////////////////////////////
.content-hinoki h2 {
  font-size: 1.8rem;
  margin-bottom: 0;
}
#hinoki .contentwrapper {
  padding: 0;  
}
//*---------------------onsen.html---------------------------*//

//*---------------------ryouri.html---------------------------*//

//*---------------------oheya.html---------------------------*//
#mainbox-oheya {
  margin: 0 auto;
  width: 870px;
  margin-bottom: 60px;
}
#mainbox-oheya .oheya {
  text-align: center;
  border: 1px solid #CCCCCC;
  padding: 20px;
  margin: 0 auto 20px;
  line-height: 1.8;
}
#mainbox-oheya .oheya .tit {
  font-weight: bold;
  font-size: 18px;
}
.oheya a {
  color: #333;
  text-decoration: none;
}
table {
  width: 100%;
  float: none;
  clear: both;
  table-layout: fixed;
  border-collapse: collapse;
}
table tbody tr *:first-child {
  padding-left: 0;
}
table tbody tr th {
  min-width: 120px;
  width: 16.66%;
}
table tbody tr * {
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
#oheya .lazyload {
  height: 342px;
}
@media (max-width: 768.98px) {
  #mainbox-oheya {
    max-width: 100%;
  }
  #mainbox-oheya .oheya {
    padding: 20px;
  }
}
//*---------------------access.html---------------------------*//
@media (max-width: 768.98px) {
  #access iframe {
    width: 100%;
    height: auto;    
  }
}


  /* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc-only { display: block !important; }
.sp-only { display: none !important; }

  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 768.98px) {
    .pc-only { display: none !important; }
    .sp-only { display: block !important; }
  }
